Repository yettison/Yetti_Superalgos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Superalgos/foundations-project, @Superalgos/algorithmic-trading-project, @Superalgos/community-plugins-project, @Superalgos/data-mining-project, @Superalgos/ethereum-project, @Superalgos/governance-project, @Superalgos/machine-learning-project, @Superalgos/network-project, @Superalgos/social-bots-project, @Superalgos/social-trading-project, @Superalgos/tensorflow-project, @Superalgos/visual-scripting-project, @Superalgos/education-project, @Superalgos/sysadmins-team

Dashboards App new templates
  Dashboards/UI/vueComponentsSource/router/index.js
  Dashboards/UI/vueComponentsSource/views/GovernanceView.vue
  Dashboards/UI/vueComponentsSource/views/HomeView.vue
Owners: @Superalgos/foundations-project

DashboardsApp added EventServer, TaskManager View
  Dashboards/UI/vueComponentsSource/router/index.js
  Dashboards/UI/vueComponentsSource/views/EventServerView.vue
  Dashboards/UI/vueComponentsSource/views/TaskManagerView.vue
  Platform/Client/dashboardsInterface.js
Owners: @Superalgos/foundations-project

Translation System in Bahasa
  Platform/WebServer/locales/id/translation.json
Owners: @Superalgos/foundations-project

COntribution: Update System Translation in Bahasa
  Platform/WebServer/locales/id/translation.json
Owners: @Superalgos/foundations-project

Education - Translation - GER - Nodes "Governance - F, S"
  Projects/Governance/Schemas/Docs-Nodes/F/Feature/Feature-Claim-Vote/feature-claim-vote.json
  Projects/Governance/Schemas/Docs-Nodes/F/Feature/Feature-Claims-Folder/feature-claims-folder.json
  Projects/Governance/Schemas/Docs-Nodes/F/Feature/Feature-Class/feature-class.json
  Projects/Governance/Schemas/Docs-Nodes/F/Feature/Feature-Contribution-Claim/feature-contribution-claim.json
  Projects/Governance/Schemas/Docs-Nodes/F/Feature/Feature-Weight-Vote/feature-weight-vote.json
  Projects/Governance/Schemas/Docs-Nodes/F/Feature/Feature/feature.json
  Projects/Governance/Schemas/Docs-Nodes/F/Features/Features/features.json
  Projects/Governance/Schemas/Docs-Nodes/F/Financial/Financial-Programs/financial-programs.json
  Projects/Governance/Schemas/Docs-Nodes/S/Signing/Signing-Account/signing-account.json
  Projects/Governance/Schemas/Docs-Nodes/S/Social/Social-Trading-Bot-Reference/social-trading-bot-reference.json
  Projects/Governance/Schemas/Docs-Nodes/S/Staking/Staking-Program/staking-program.json
  Projects/Governance/Schemas/Docs-Nodes/S/Support/Support-Program/support-program.json
Owners: @Superalgos/education-project

Contribution: Education - Translation - GER - Nodes "Governance - F, S" (2 nd attempt)
  Projects/Governance/Schemas/Docs-Nodes/F/Feature/Feature-Claim-Vote/feature-claim-vote.json
  Projects/Governance/Schemas/Docs-Nodes/F/Feature/Feature-Claims-Folder/feature-claims-folder.json
  Projects/Governance/Schemas/Docs-Nodes/F/Feature/Feature-Class/feature-class.json
  Projects/Governance/Schemas/Docs-Nodes/F/Feature/Feature-Contribution-Claim/feature-contribution-claim.json
  Projects/Governance/Schemas/Docs-Nodes/F/Feature/Feature-Weight-Vote/feature-weight-vote.json
  Projects/Governance/Schemas/Docs-Nodes/F/Features/Features/features.json
  Projects/Governance/Schemas/Docs-Nodes/F/Financial/Financial-Programs/financial-programs.json
  Projects/Governance/Schemas/Docs-Nodes/S/Signing/Signing-Account/signing-account.json
  Projects/Governance/Schemas/Docs-Nodes/S/Social/Social-Trading-Bot-Reference/social-trading-bot-reference.json
  Projects/Governance/Schemas/Docs-Nodes/S/Staking/Staking-Program/staking-program.json
  Projects/Governance/Schemas/Docs-Nodes/S/Support/Support-Program/support-program.json
  Projects/TensorFlow/Schemas/Docs-Nodes/F/Feature/Feature/feature.json
Owners: @Superalgos/education-project

No commit message defined
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-040-tutorial-step-break-on-through.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-041-tutorial-step-navigating-the-white-room.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-042-tutorial-step-talkin-time-travel.json
Owners: @Superalgos/education-project

added undefined check for disconnect websockets
  Projects/Network/SA/Modules/WebSocketsNetworkClient.js
Owners: @Superalgos/network-project

Fix for Websockets Connection Redundancy
  Projects/Network/SA/Modules/P2PNetworkNodesConnectedTo.js
Owners: @Superalgos/network-project

Adding more information about inbound Trading Signals on console
  Platform/PlatformApp.js
  Projects/Foundations/TS/Function-Libraries/TaskFunctions.js
  Projects/Trading-Signals/TS/Modules/IncomingCandleSignals.js
Owners: @Superalgos/foundations-project

Deepscan fixes
  Projects/Trading-Signals/TS/Modules/IncomingCandleSignals.js
Owners: @Superalgos/foundations-project

Moving Bitcoin Factory Reports to separate repo
  .gitmodules
  Bitcoin-Factory/Reports/History/Testnet-2022-06-27-08-49-00.CSV
  Bitcoin-Factory/Reports/History/Testnet-2022-06-27-15-02-00.CSV
  Bitcoin-Factory/Reports/History/Testnet-2022-07-16-08-24-00-DJ05GaZ.CSV
  Bitcoin-Factory/Reports/History/Testnet-2022-07-16-08-45-00-DJ05GaZ.CSV
  Bitcoin-Factory/Reports/History/Testnet-2022-07-17-15-47-00-DJ05GaZ.CSV
  Bitcoin-Factory/Reports/History/Testnet-2022-07-24-09-44-00-DJ05GaZ.CSV
  Bitcoin-Factory/Reports/History/Testnet-2022-07-24-10-42-00-DJ05GaZ.CSV
  Bitcoin-Factory/Reports/History/Testnet-2022-07-24-10-51-00-DJ05GaZ.CSV
  Bitcoin-Factory/Reports/History/Testnet-2022-08-04-01-19-00.CSV
  Bitcoin-Factory/Reports/History/Testnet-2022-08-04-14-08-00.CSV
  Bitcoin-Factory/Reports/History/Testnet-2022-08-20-15-44-00.CSV
  Bitcoin-Factory/Reports/History/Testnet-2022-08-24-20-03-00-DJ05GaZ.CSV
  Bitcoin-Factory/Reports/History/Testnet-2022-08-27-17-27-00-DJ05GaZ.CSV
  Bitcoin-Factory/Reports/History/Testnet-2022-08-29-22-12-00-DJ05GaZ.CSV
  Bitcoin-Factory/Reports/History/Testnet-2022-09-14-17-57-00.CSV
  Bitcoin-Factory/Reports/History/Testnet-2022-09-28-ManualFix_GovernanceOnly.csv
  Bitcoin-Factory/Reports/History/Testnet-2022-10-16-05-49-00.CSV
  Bitcoin-Factory/Reports/History/Testnet-2022-10-28-17-08-00.CSV
  Bitcoin-Factory/Reports/History/Testnet-BlaaSwe-022-06-19-07-33-00.CSV
  Bitcoin-Factory/Reports/History/Testnet-BlaaSwe-2022-06-07-12-40-00.CSV
  Bitcoin-Factory/Reports/History/Testnet-BlaaSwe-2022-06-17-05-26-00.CSV
  Bitcoin-Factory/Reports/History/Testnet-BlaaSwe-2022-06-18-05-59-00.CSV
  Bitcoin-Factory/Reports/History/Testnet-Round-3.csv
  Bitcoin-Factory/Reports/History/Testnet-Round-4.csv
  Bitcoin-Factory/Reports/History/Testnet-Smart_Money-2022-07-30-19-50-00.CSV
  Bitcoin-Factory/Reports/History/Testnet_Masters-2022-08-19-21-07-00.CSV
  Bitcoin-Factory/Reports/History/Testnet_Quantum-2022-07-30-04-45-00.CSV
  Bitcoin-Factory/Reports/History/Testnet_Turtles-2022-08-18-18-03-00.CSV
  Bitcoin-Factory/Reports/Testnet-2022-10-07-12-43-00-Manualfix-GovernanceOnly.csv
  Bitcoin-Factory/Reports/Testnet-2022-10-16-05-49-00-Manualfix-GovernanceOnly.csv
  Bitcoin-Factory/Reports/Testnet-2022-10-23-00-27-00-Manualfix-GovernanceOnly.csv
  Bitcoin-Factory/Reports/Testnet-2022-10-25-13-06-00-Manualfix-GovernanceOnly.csv
  Bitcoin-Factory/Reports/Testnet-2022-10-28-17-08-00-Manualfix-GovernanceOnly.csv
  Bitcoin-Factory/Reports/Testnet-2022-10-29-02-37-00-Manualfix-GovernanceOnly.csv
Owners: @Superalgos/sysadmins-team, @Superalgos/foundations-project

Correcting path in .gitmodules
  .gitmodules
Owners: @Superalgos/sysadmins-team

New Dashboard AlgoTradingView
  Dashboards/README.md
  Dashboards/UI/vueComponentsSource/views/AlgoTradingView.vue
  Dashboards/UI/vueComponentsSource/views/GovernanceView.vue
  Dashboards/UI/vueComponentsSource/views/HomeView.vue
  Dashboards/webpack.config.js
  Platform/Client/dashboardsInterface.js
  package-lock.json
  package.json
Owners: @Superalgos/foundations-project, @Superalgos/sysadmins-team

This is my contribution to Superalgos
  Platform/Client/dashboardsInterface.js
Owners: @Superalgos/foundations-project

New Dashboard for Algorithmic Trading Bots
  Platform/Client/dashboardsInterface.js
Owners: @Superalgos/foundations-project

New Dashboard for Algorithmic Trading Bots
  Dashboards/UI/vueComponentsSource/views/AlgoTradingView.vue
  Platform/Client/dashboardsInterface.js
Owners: @Superalgos/foundations-project

This is my contribution to Superalgos
  Dashboards/UI/vueComponentsSource/views/AlgoTradingView.vue
  Platform/Client/dashboardsInterface.js
Owners: @Superalgos/foundations-project

Improvements Panel 2 on AlgoTradingView
  Dashboards/UI/vueComponentsSource/views/AlgoTradingView.vue
  package-lock.json
Owners: @Superalgos/foundations-project, @Superalgos/sysadmins-team

Added Position Status (frontend)
  Dashboards/UI/vueComponentsSource/views/AlgoTradingView.vue
Owners: @Superalgos/foundations-project

Dashboards App: AlgoTradingView more stats, functions and styles
  Dashboards/UI/vueComponentsSource/views/AlgoTradingView.vue
  Platform/Client/dashboardsInterface.js
  package-lock.json
  package.json
Owners: @Superalgos/foundations-project, @Superalgos/sysadmins-team

Dashboard AlgoTrading View changes
  Dashboards/UI/vueComponentsSource/views/AlgoTradingView.vue
  Dashboards/UI/vueComponentsSource/views/HomeView.vue
  Platform/Client/dashboardsInterface.js
Owners: @Superalgos/foundations-project

Fix Bugs
  Dashboards/UI/vueComponentsSource/views/AlgoTradingView.vue
  Platform/Client/dashboardsInterface.js
Owners: @Superalgos/foundations-project

DeepScan fix
  Dashboards/UI/vueComponentsSource/views/AlgoTradingView.vue
Owners: @Superalgos/foundations-project

Deepscan fix
  Dashboards/UI/vueComponentsSource/views/AlgoTradingView.vue
Owners: @Superalgos/foundations-project

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, these will be requested for
# review when someone opens a pull request.

*   @Superalgos/foundations-project

# Project Teams
/Projects/Algorithmic-Trading/   @Superalgos/algorithmic-trading-project
/Projects/Community-Plugins/     @Superalgos/community-plugins-project
/Projects/Data-Mining/           @Superalgos/data-mining-project
/Projects/Ethereum/              @Superalgos/ethereum-project
/Projects/Foundations/           @Superalgos/foundations-project
/Projects/Governance/            @Superalgos/governance-project
/Projects/Machine-Learning/      @Superalgos/machine-learning-project
/Projects/Network/               @Superalgos/network-project
/Projects/Social-Bots/           @Superalgos/social-bots-project
/Projects/Social-Trading/        @Superalgos/social-trading-project
/Projects/TensorFlow/            @Superalgos/tensorflow-project
/Projects/Visual-Scripting/      @Superalgos/visual-scripting-project

/Projects/Education/             @Superalgos/education-project
Docs*/                           @Superalgos/education-project

/.github/                        @Superalgos/sysadmins-team
/Docker/                         @Superalgos/sysadmins-team
.git*                            @Superalgos/sysadmins-team
.docker*                         @Superalgos/sysadmins-team
package*.json                    @Superalgos/sysadmins-team
